/* Add a Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Apply font-family to the body */
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(222, 222, 222);
  margin-top: 50px; 
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: -10px;
  padding-bottom: -20px;
}

.student-info {
  grid-column: 1;
  border: 0px solid black;
  border-radius: 10px;
  background-color: #fff;
  padding: 50px;
  box-shadow: 0px 3px 3px black;
  margin-left: 40px; 
 
}

.grades-table-cont {
  grid-column: 2;
  margin-right: 40px;
  background-color: #fff;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 0px 3px 3px black;
  padding: 50px;
 

}

.grades-table {
  border-collapse: collapse;
  width: 100%;
}

.grades-table th,
.grades-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.grades-table th {
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 8px;
  vertical-align: top;
}

.field-label {
  font-weight: bold;
}

.field-value {
  padding-left: 10px;
}

.edit-button {
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}
.delete-button {
  margin-left: 10px;
  background-color: rgb(250, 76, 76);
}
.btn {
  padding: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 5px;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.1em;
}
.modifyBtn {
  background-color: lightgreen;
  transition: all 0.5s;
}
.modifyBtn:hover {
  border: 2px solid green;
  box-shadow: 0 0 25px 5px lightgreen;
}
.deleteBtn {
  background-color: red;
  transition: all 0.5s;
}
.deleteBtn:hover {
  border: 2px solid red;
  box-shadow: 0 0 10px darkred;
}

.spec {
  text-decoration: none;
  color: black;
  
}
.goBackbtn {
  margin-top: 20px;
  width: 80px;
  margin-left: 40px;

}

/* Modal styles */
/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: auto;
  padding: 24px;
}

.modal input[type="text"],
.modal input[type="number"] {
  font-size: 1.4em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  transition: border 0.5s;
  outline: none;
  text-align: center;
  margin-bottom: 15px;
}

.modal label {
  font-size: 1.4em;
  display: inline-block;
  width: 200px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}
